MyPrismSpin/MyPrismSpin.Droid/bin
MyPrismSpin/MyPrismSpin.Droid/obj
MyPrismSpin/MyPrismSpin.iOS/obj/iPhone/Debug
MyPrismSpin/MyPrismSpin/bin
MyPrismSpin/MyPrismSpin/obj
packages
MyPrismSpin/MyPrismSpin.iOS/bin
MyPrismSpin/MyPrismSpin.iOS/obj
MyPrismSpin.userprefs
